@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.fi-ta-cell, .fi-ta-cell div{
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
.fi-ta-table > thead > tr {
    @apply divide-x divide-gray-200 dark:divide-white/5;
}

.fi-ta-row {
    @apply divide-x divide-gray-200 dark:divide-white/5;
}

.fi-ta-cell, .fi-ta-cell div{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.my-bg-primary {
    background-color: #00ffff;
}
.my-striped-color {
    background-color: #e0f7fa;
}
